{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ApplyHiTech</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/app/">Home</a></li>
      <li ><a href="/app/profile">Profile</a></li>
      <li ><a href="/app/history">History</a></li>
      <li class="active"><a href="/app/about">About</a></li>
    </ul>
  </div>
</nav>

<h3 class="text-center">Who Am I?</h3>
<p class="center">
<img src="{% static "images/danielmikhayla.jpg" %}" align="middle" class="img-circle" alt="Daniel" width="304" height="236" />
</p>

<h3 class="text-center">I'm am a software developer</h3>

</body>
</html>
